body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #e6e7e9;
  padding-top: 12px;
}

.mainHead {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.sectionHead {
  padding-top: 10px;
  padding-left: 35px;
  min-height: 20px;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  padding-bottom: 4px;
}

.headContent, .responceTime {
  display: inline-block;
}

.headContentErr {
  padding-right: 21px;
  background-image: url("./Assets/Icons/Error.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 109%;
}

.errorData {
  color: red;
}

.responceTime {
  font-weight: normal;
  padding-left: .5em;
}

.queryHead {
  background-image: url("./Assets/Icons/User.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 2px;
}

.responceHead {
  background-image: url("./Assets/Icons/AlexaMusicbrain1.jpg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 2px;
}

.responceTimeHead {
  background-image: url("./Assets/Icons/ResponseTime.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 2px;
}

.timeStamp {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color: gray;
  position: absolute;
  right: 0px;
  padding-left: 17px;
  background-image: url("./Assets/Icons/Time.png");
  background-repeat: no-repeat;
  background-size: 15px;
}

.speechSection {
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-bottom: 10px;
  padding: 8px;
}

.speechSection:last-child {
  border-bottom: none;
}

.initialHead {
  text-align: center;
  font-size: 4em;
}

.progress {
  text-align: center;
}

.progressItem {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 5px;
  border-radius: 100px;
  background: rgb(180, 180, 180);
}

.progressItemSelected {
  background: rgb(83, 83, 83);
}

.messageShow {
  font-size: 30px;
  color: gray;
  margin: 10px 0;
  text-align: center;
}

.dashboardAnimate {
  animation: animate 2s;
  -moz-animation: animate 2s;
  /* Firefox */
  -webkit-animation: animate 2s;
  /* Safari and Chrome */
  -o-animation: animate 2s;
  /* Opera */
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes animate {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes animate {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  position: relative;
  display: block;
  width: 210px;
  height: 40px;
  margin: 30px auto;
  padding: 0 0 0 55px;
  font: 700 16px/40px 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  border-radius: 2px;
  background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn span {
  font-size: 14px;
  text-transform: none;
  color: #aaa;
}

.btn:before {
  content: 'a';
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font: 20px/40px 'zocial', sans-serif;
  text-align: center;
  text-transform: none;
  color: #fff;
  border-radius: 2px 0 0 2px;
  background: linear-gradient(to bottom, #fa0 0%, #cc8800 100%);
}

.btn:hover {
  text-shadow: 0 0 10px #fff;
}

/* reverse */

.btn.reverse {
  color: #fff;
}

.btn.reverse span {
  color: #eee;
}

.btn.reverse {
  background: linear-gradient(to bottom, #fa0 0%, #cc8800 100%);
}

.btn.reverse:before {
  color: #555;
  background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
}

/* naked */

.btn.naked:before {
  border-right: 1px solid #aaa;
  background: none;
}

.btn.naked:before {
  color: #e69900;
}

/* full */

.btn.full {
  color: #fff;
  background: linear-gradient(to bottom, #fa0 0%, #cc8800 100%);
}

.btn.full span {
  color: #eee;
}

.btn.full:before {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('./Assets/Fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('./Assets/Fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('./Assets/Fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('./Assets/Fonts/poppins/Poppins-SemiBold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/

a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}

input:-moz-placeholder {
  color: #adadad;
}

input::-moz-placeholder {
  color: #adadad;
}

input:-ms-input-placeholder {
  color: #adadad;
}

textarea::-webkit-input-placeholder {
  color: #adadad;
}

textarea:-moz-placeholder {
  color: #adadad;
}

textarea::-moz-placeholder {
  color: #adadad;
}

textarea:-ms-input-placeholder {
  color: #adadad;
}

/*---------------------------------------------*/

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #57b846;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-avatar img {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input100 {
  font-family: Poppins-SemiBold;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 52px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #57b846;
}

.focus-input100::after {
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 15px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::after {
  top: -20px;
  font-size: 15px;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
}

.login100-form-btn:hover {
  background-color: #333333;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;
  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Login more ]*/

.login-more li {
  position: relative;
  padding-left: 16px;
}

.login-more li::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cccccc;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.container-login100-form-btn, .login-more {
  margin-top: 1.5rem;
}

.filesArea {
  text-align: center;
}

.filesArea .startNotification p {
  font-size: 2.9em;
  font-weight: bold;
  position: absolute;
  top: 10rem;
  color: #b8b8b8;
}