body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: #e6e7e9;
  padding-top: 12px;
}

.mainHead {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.sectionHead {
  padding-top: 10px;
  padding-left: 35px;
  min-height: 20px;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  padding-bottom: 4px;
}

.headContent, .responceTime {
  display: inline-block;
}

.headContentErr {
  padding-right: 21px;
  background-image: url("./Resources/Icons/Error.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 109%;
}

.errorData {
  color: red;
}

.responceTime {
  font-weight: normal;
  padding-left: .5em;
}

.queryHead {
  background-image: url("./Resources/Icons/User.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 2px;
}

.responceHead {
  background-image: url("./Resources/Icons/AlexaMusicbrain1.jpg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 2px;
}

.responceTimeHead {
  background-image: url("./Resources/Icons/ResponseTime.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-y: 2px;
}

.timeStamp {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  color: gray;
  position: absolute;
  right: 0px;
  padding-left: 17px;
  background-image: url("./Resources/Icons/Time.png");
  background-repeat: no-repeat;
  background-size: 15px;
}

.speechSection {
  border-bottom: 1px solid rgb(189, 189, 189);
  padding-bottom: 10px;
  padding: 8px;
}

.speechSection:last-child {
  border-bottom: none;
}

.initialHead {
  text-align: center;
  font-size: 4em;
}

.progress {
  text-align: center;
}

.progressItem {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 5px;
  border-radius: 100px;
  background: rgb(180, 180, 180);
}

.progressItemSelected {
  background: rgb(83, 83, 83);
}

.messageShow {
  font-size: 30px;
  color: gray;
  margin: 10px 0;
  text-align: center;
}

.dashboardAnimate {
  animation: animate 2s;
  -moz-animation: animate 2s;
  /* Firefox */
  -webkit-animation: animate 2s;
  /* Safari and Chrome */
  -o-animation: animate 2s;
  /* Opera */
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes animate {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animate {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes animate {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  position: relative;
  display: block;
  width: 210px;
  height: 40px;
  margin: 30px auto;
  padding: 0 0 0 55px;
  font: 700 16px/40px 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  border-radius: 2px;
  background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn span {
  font-size: 14px;
  text-transform: none;
  color: #aaa;
}

.btn:before {
  content: 'a';
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font: 20px/40px 'zocial', sans-serif;
  text-align: center;
  text-transform: none;
  color: #fff;
  border-radius: 2px 0 0 2px;
  background: linear-gradient(to bottom, #fa0 0%, #cc8800 100%);
}

.btn:hover {
  text-shadow: 0 0 10px #fff;
}

/* reverse */

.btn.reverse {
  color: #fff;
}

.btn.reverse span {
  color: #eee;
}

.btn.reverse {
  background: linear-gradient(to bottom, #fa0 0%, #cc8800 100%);
}

.btn.reverse:before {
  color: #555;
  background: linear-gradient(to bottom, #fff 0%, #e6e6e6 100%);
}

/* naked */

.btn.naked:before {
  border-right: 1px solid #aaa;
  background: none;
}

.btn.naked:before {
  color: #e69900;
}

/* full */

.btn.full {
  color: #fff;
  background: linear-gradient(to bottom, #fa0 0%, #cc8800 100%);
}

.btn.full span {
  color: #eee;
}

.btn.full:before {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

:before, :after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}